
<div class="banner">
  <h1>AirBnBoat</h1>
  <%= form_tag(boats_path, method: "get", class: 'flex-form') do %>
     <!--  <label for="from"> -->
        <i class="ion-location"></i>
      </label>
      <%= text_field_tag(:country, nil, type: 'search', placeholder: "Where do you want to go?") %>
    <%= submit_tag("Search", name: nil) %>
  <% end %>
</div>

<div class="container">
</div>
