<div class="banner">
  <h1>AirBnBoat</h1>
  <div class="search-form">
    <%= form_tag(boats_path, method: "get") do %>
    <div class="form-title">
      <p><strong>Search for boats to rent</strong></p>
    </div>
    <div class="search-bar">
      <%= label_tag(:country, "Country:") %>
      <%= text_field_tag(:country) %>
    </div>
    <div class="submit-bar">
      <%= submit_tag("Search", name: nil) %>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
</div>
