/* Main navbar */
.navbar-wagon-transparent {
  background-color: transparent;
 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-wagon-white {
  background-color: white;
}