<h1 class="text-center">Adding a review</h1>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
			<%= simple_form_for [@boat, @review] do |f| %>
			<%= f.input :content %>
			<%= f.select :rating, [1,2,3,4,5] %>
			<%= f.submit "Add review", class: "btn btn-primary" %>
			<% end %>
		</div>	
	</div>
</div>

