<h1>Check out our boats</h1>


<% @boats.each do |boat| %>
 <div class="card-trip col-xs-12 col-md-6">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
  <div class="card-trip-infos">
    <div>
      <h2><%= link_to boat.name, boat_path(boat) %></h2>
      <p><%= boat.description %></p>
    </div>
    <h2 class="card-trip-pricing"><%= boat.price_per_day %> euros/day</h2>
    <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/>
  </div>
</div>
<% end %>


